<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">mail_outline</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Watson NLP</h4>
                        <div class="form-group label-floating">
                            <label class="control-label">Please put image link</label>
                            <input type="text" class="form-control" [(ngModel)]="link">
                        </div>
                        <button type="submit" class="btn btn-fill btn-rose" (click)="callWatsonVisionApi()">Submit</button>

                    </div>
                </div>
            </div>
        </div>
    </div>