<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">mail_outline</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Watson Tone Analyzer</h4>
                        <div class="form-group label-floating">
                            <label class="control-label">Tone</label>
                            <input type="text" class="form-control" [(ngModel)]="Tone">
                        </div>
                        <button type="submit" class="btn btn-fill btn-rose" (click)="callWatsonToneAnalyzerApi()">Submit</button>

                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
               
                </div>
            </div>
        </div>
    </div>